@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Reset code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    font-size:62.5%;
    scroll-behavior: smooth;  
    background-color:#F5D7D7!important ; 
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}

/* header code */
nav{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;   
}
.nav-color{
    color: white !important;
}


.banner{
    position:relative;
}
.banner-info{
    left:50%;
    top:50%;
}

.services{
    position:relative;
    height: 300px;
}
.card-adj{
    position:absolute;
    top: 100px;
}

/* Gradient Background */
.color{
    background-image:
    linear-gradient(to right,rgb(50, 50, 122),rgb(105, 32, 105),rgb(136, 33, 33));
}
.color h2:after{
    display: inline-block;
    content: "";
    border-top: .3rem solid #fffcfc;
    border-radius: 5px;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}
.color h2:before {
    display: inline-block;
    content: "";
    border-top: 0.3rem solid #fffcfc;
    border-radius: 5px;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

/* Video */
h1.fw-bold.text-danger.mb-5:after {
    display: inline-block;
    content: "";
    border-top: 0.5rem dotted #BB2D3B;
    width: 7rem;
    margin: 0 -14rem;
    transform: translateY(1.5rem);
}
/* Card Background */
.card-bg{
    background: url("../images/card-bg.jpg"), rgba(00,00,00,.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
h3.card-title.text-dark.fw-bold.mb-4:after {
    display: inline-block;
    content: "";
    border-top: 0.5rem dotted #BB2D3B;
    width: 8rem;
    margin: 0 0rem;
    transform: translateY(-0.5rem);
}
/* .card{
        border: 3px solid #dc3545;
        border-radius: 2.25rem;
} */
/* Footer */
.footer{
    padding: 40px;
    background-color: rgb(16, 14, 36);  
    color: #fff;  
}
.footer i{
    font-size: 20px;
    padding: 10px;
}
.footer i:hover{
    color: #dc3545;
    transition: .3s;
    cursor: pointer;
}
.footer span{
    display: block;
    padding-top: 8px;
}