/* color:#405089; */
/* #e2000c; */
/* #002147; */
/* #e5eaf0 */
/* #2B628B; */
/* #002147; */

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html{
    font-size:62.5%;
    scroll-behavior: smooth;
}
body{  
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-size: 2.2rem;
    background-color: #E4F9F5;
}
a{text-decoration:none;}
img {
	max-width:100%;
   
}

/* Header CSS */

.nav-text{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.048);
}
.nav-text:hover{
    color:#e2000c;
}
.whatsapp-icon{
    color:black;
    font-size:20px;
}

nav ul li a{
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: 'Bebas Neue', cursive;    
    margin-left: 1rem;
}
.contact-btn{
    background-color: #002147;
    border:none;
    color:white;
}
.nav-link:hover{
   color:#e2000c!important;
}
.btn{
    border:none;
    transition:0.3s;
}
.btn:hover{
    background-color: #333;  
}
.bg-img-slide1{
    background-image: url("../media/images/slide1.webp"),
    linear-gradient(to right,#e4f9f5, rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position:  0px 0px, 0% 0%;
  background-blend-mode: multiply;
  height: 500px;
}
.bg-img-slide2{
    background-image: url("../media/images/slide2.webp"),
    linear-gradient(to right,white, rgba(0, 0, 0,1));
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position:  0px 0px, 0% 0%;
  background-blend-mode: multiply;
  height: 500px;
}
.bg-img-slide3{
    background-image: url("../media/images/study-uk.webp"),
    linear-gradient(to right,white, rgba(0, 0, 0, 1));
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position:  0px 0px, 0% 0%;
  background-blend-mode: multiply;
  height: 500px;
}
.caption-adj{
    position:absolute;
    top:100px;
    text-align:left;
}
/* Contact button animation */
.blink-2 {
	-webkit-animation: blink-2 0.9s infinite both;
	        animation: blink-2 0.9s infinite both;
}

 @-webkit-keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  
/* Services CSS */
.services, .features{
    background-image:linear-gradient(to right,#002147, #002147);
   
}
.text-service{
    color:#e2000c;
}
.service-title{
    color:#002147;
}
.services-page{
    margin-bottom:200px!important;
}
.icon{
    font-size:100px;
    text-align:center;
}
.btn-service{
    margin:0 auto;
}
.card{
    transition:1s;
    overflow:hidden;
}
.card:hover{
    transform:scale(1.1);
}



/* Success css */
.success{   
    margin-top:50px; 
}
.success-page{
    margin-top:50px;
}

.success-bg1{
 background-image: url("../media/images/1.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 height: 230px;
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%; 
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg2{
 background-image: url("../media/images/2.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 height: 230px;
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply; 
 border:2px solid white;
 border-radius:5px;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
}
.success-bg3{
 background-image: url("../media/images/3.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 height: 230px;
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;

 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg4{
 background-image: url("../media/images/4.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 height: 230px;
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg5{
 background-image: url("../media/images/5.webp"),linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 height: 230px;
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg6{
 background-image: url("../media/images/6.webp"),linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 height: 230px;
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg7{
 background-image: url("../media/images/7.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg8{
 background-image: url("../media/images/8.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg9{
 background-image: url("../media/images/9.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg10{
 background-image: url("../media/images/10.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg11{
 background-image: url("../media/images/11.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg12{
 background-image: url("../media/images/12.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg13{
 background-image: url("../media/images/13.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg14{
 background-image: url("../media/images/14.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg15{
 background-image: url("../media/images/15.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg16{
 background-image: url("../media/images/16.webp"),linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg17{
 background-image: url("../media/images/17.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-bg18{
 background-image: url("../media/images/18.webp"), linear-gradient(to right,rgba(0, 238, 32, 0.678), rgba(0, 0, 0, 0.171));
 background-repeat: no-repeat;
 background-size: cover, cover;
 background-position:  0px 0px, 0% 0%;
 background-blend-mode: multiply;
 height: 230px;
 border:2px solid white;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 -o-border-radius:5px;
 width:100%;
 transition:1s;
 -webkit-transition:1s;
 -moz-transition:1s;
 -ms-transition:1s;
 -o-transition:1s;
}
.success-info{
  display:none;
}
.success:hover .success-info{
    display:block;
}
.success-bg1:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg2:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg3:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg4:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg5:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg6:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg7:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg8:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg9:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg10:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg11:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg12:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg13:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg14:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg15:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg16:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg17:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}
.success-bg18:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
  
}

/* About CSS */
.about{
    margin-top:100px;
}
.about-info:hover{
    transform: scale(1.1) skew(-15deg);
    transition: transform 2s ease-in-out;
}
/* Features CSS */



/* Institutes CSS */
.single-institute:hover img{
    transform: scale(1.2) skew(-15deg);
    transition: transform 2s ease-in-out;
}
.img-adj{
    height:230px;
    overflow:hidden;
    object-fit:cover!important;
    width:100%;
    transition:1s;   
}
.img-adj:hover{
    transform:scale(1.1);
}
/* Contact */

/* FAQ */
.accordion-button{
    font-size:30px!important;
   
}
/* Footer CSS */
.bg-footer{
    background-color:#002147;
}
.fab:hover{
    transform:scale(2);
    transition: transform 2s ease-in-out;

}
 
@media (max-width:768px) {
    .whatsapp-icon{
        display:none!important;
    }
    .whatsapp-text{
        display:none!important;
    }
    .phone-no{
        display:none!important;
    }
    .success{
        margin-top:0!important;
        margin-left:0!important;       
    }
    .success-mobile{
        display:none;
    }
    
    .service-adj{
        margin-left:0!important;
        padding-left:0!important;
    }
    .success-adj{
        padding-left:0!important;
    }
    .ins-mobile{
        display:none;
    }
    .footer-mobile{
        display:none;
    }
   
    
   
    

    
}























/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */