*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html{
    font-size:62.5%;
    scroll-behavior: smooth;
}
body{  
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-size: 2.2rem;
}

/* Header CSS */
.nav-text{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.048);
}
nav ul li a{
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: 'Bebas Neue', cursive;    
    margin-left: 1rem;
}
.contact-btn{
    background-color: #035796;
    border:none;
    color:white;
}
.nav-link:hover{
    background-color: #035796;  
}
.btn{
    border:none;
    transition:0.3s;
}
.btn:hover{
    background-color: #333;  
}
.bg-img-slide1{
    background-image: url("../media/images/study-uk.webp"),
    linear-gradient(to right,rgb(29, 214, 76), rgb(167, 5, 5));
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position:  0px 0px, 0% 0%;
  background-blend-mode: multiply;
  height: 500px;
}
.bg-img-slide2{
    background-image: url("../media/images/study-uk.webp"),
    linear-gradient(to right,white, rgba(0, 0, 0,1));
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position:  0px 0px, 0% 0%;
  background-blend-mode: multiply;
  height: 500px;
}
.bg-img-slide3{
    background-image: url("../media/images/study-uk.webp"),
    linear-gradient(to right,white, rgba(0, 0, 0, 1));
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position:  0px 0px, 0% 0%;
  background-blend-mode: multiply;
  height: 500px;
}
.caption-adj{
    position:absolute;
    top:100px;
    text-align:left;
}
/* Services CSS */
.services{
    background-image:linear-gradient(to right,#035796, #A61D36);
    height:200px;
}
.icon{
    font-size:100px;
    text-align:center;
}
.btn-service{
    margin:0 auto;
}























/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */